@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto";
}

nav {
    /* background-color: rgb(172, 77, 77); */
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 5% 0px 8%;
    align-items: center;
}

.logo {
    /* background-color: yellow; */
    /* width: 40%; */
    height: 40%;
    flex: auto;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-family: "Playfair Display";
}

.mainnav {
    height: 40%;
    width: 85%;
    flex: 2;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainnav ul {
    display: flex;
    list-style: none;
    /* background-color: green; */
    width: 100%;
    height: 100%;
    font-size: 19px;
    align-items: center;
    justify-content: space-around;
}

.sidenav {
    /* background-color: blue; */
    /* width: 10%; */
    height: 40%;
    flex: auto;
    display: flex;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    gap: 20px;
}

.herocol1 {
    /* background-color: red; */
    width: 35%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
}



/* .herocol3 {
    background-color: rgb(252, 47, 255);
    flex: auto;
} */

main {
    /* background-color: rgb(19, 177, 69); */
    height: 85vh;
    width: 100vw;
    display: flex;
    padding: 0px 5% 0% 8%;
}

.head_p {
    font-size: 20px;
    display: flex;
    font-weight: 500;
    /* background-color: greenyellow; */
    height: 5%;
    align-items: center;
    gap: 10px;
    color: rgb(94, 92, 92);
}

.mn_head {
    font-size: 50px;
    line-height: 90px;
    font-family: "Italiana";
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 5%; */
}

.head_underline {
    background-color: rgb(78, 78, 78);
    height: 3px;
    width: 25%;
    border-radius: 30px;
}

.para1 {
    font-size: 14px;
    margin-top: 1.5%;
    width: 70%;
    line-height: 1.5;
    color: rgb(100, 99, 99);
}

.colors {
    /* background-color: yellowgreen; */
    display: flex;
    gap: 10px;
    font-size: 16px;
    height: 45px;
    align-items: center;
    font-weight: 600;
    padding: 5px;

}

.colors div {
    /* background-color: pink; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.color1 {
    background-color: rgb(161, 119, 119);
}

.color2 {
    background-color: rgb(119, 194, 150);
}

.color3 {
    background-color: rgb(139, 138, 187);
}

.details {
    /* background-color: rgb(78, 145, 145); */
    display: flex;
    flex-direction: column;
    width: 80%;
    /* line-height: 1.4; */
    gap: 10px;

}

.details h2 {
    /* background-color: rebeccapurple; */
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
}

.details h2 div {
    background-color: rgb(133, 131, 131);
    width: 70px;
    height: 2.5px;
    border-radius: 10px;
}

.det_para {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(100, 99, 99);
}

.features {
    /* background-color: yellowgreen; */
    height: 110px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.features>div {
    background-color: rgba(238, 238, 233, 0.91);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: 0.2px 0.3px 2px 1px;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}

.features i {
    font-size: 35px;
    color: rgb(86, 85, 85);
    font-weight: 400;
}

.features>div:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px 1px rgb(80, 79, 79);
    /* border: 1px solid black; */
}

.col2_hero {
    /* background-color: goldenrod; */
    height: 80%;
    display: flex;
}

.vert_head {
    /* background-color: red; */
    width: 80px;
    height: 100%;
    /* position: relative; */
    /* padding-: 50px; */
    /* font-size: 50px; */
}

.vert_dash {
    background-color: gray;
    height: 80px;
    width: 3px;
    border-radius: 20px;
}

.vert_text {
    /* position: absolute; */
    font-size: 30px;
    writing-mode: vertical-rl;
    height: 95%;
    width: 100%;
    display: flex;
    gap: 20px;
    font-family: "Playfair Display";
    align-items: center;
    transform: rotate(180deg);
    /* background-color: aqua;  */

}

.herobg {
    background-color: greenyellow;
    height: 100%;
    width: 90%;
    margin: 30px 0px 30px 0px;
    border-radius: 15px;
    background-image: url('./assets/flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.u3.jpg');
    background-size: cover;
    /* background-repeat: 5px , 6px; */
    background-position: 0px -95px;
}

.prs_features {
    /* background-color: yellow; */
    height: 100px;
    margin-top: 6%;
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.prs_features>div {
    background-color: rgb(200, 208, 200);
    display: flex;
    height: 60px;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 13px;
    box-shadow: 2px 3px 8px;
    transition: all 0.3s ease-in-out;
}

.prs_features>div:hover {
    box-shadow: 10px 5px 10px 0px rgb(110, 109, 109);
    cursor: pointer;

}

.herocol2 {
    /* background-color: blue; */
    width: 60%;
    margin-right: 30px;
}

.prs_features>div i {
    font-size: 30px;
}

.herocol3 {
    /* background-color: violet; */
    width: 10%;
    height: 83%;
    margin-top: 2%;
    padding-top: 10px;
}

.prodimgs {
    /* background-color: yellow; */
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.prodimgs div {
    background-color: rgb(237, 172, 9);
    height: 50%;
    width: 90%;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.prodimgs div:hover {
    cursor: pointer;
    border: 3px solid rgb(51, 50, 50);
    /* border-style: ridge; */
    /* border-top: 0px; */
    /* border-left: 3px; */
    /* box-shadow: 5px 5px 5px 0px ; */
}
.prodimg1{
    background: url('./assets/flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.u3.jpg');
    background-size: cover;
}
.prodimg2 {
    background-image: url('https://img.zcdn.com.au/lf/45/hash/37610/20345948/4/Spanish%2BVilla%2BEmile%2BLinen%2BQuilt%2BCover.jpg');
    background-size: cover;
}
.prodimg3{
    background: url('https://www.soakandsleep.com/cdn/shop/files/additional5_36_18.jpg?v=1749129230&width=800');
    background-size: cover;
}
.prodimg4 {
    background-image: url('https://images.unsplash.com/photo-1726013109765-4699c4257be5?q=80&w=1927&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: 0px -25px;
}

.overrats{
    /* background-color: blue; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.ratings {
    background-color: rgb(224, 221, 221);
    height: 40px;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 690;
    border-radius: 10px;
    color: rgb(29, 29, 29);
}

.ratings i{
    color: gray;
}

.price {
    background-color: white;
    height: 40px;
    width: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.navundrln{
    background-color: gray;
    height: 3px;
    border-radius: 30px;
    opacity: 0%;
    /* margin-top: 10px; */
}
.mainnav li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainnav li:hover {
    cursor: pointer;
}
.mainnav li:hover .navundrln {
  opacity: 100%;
  cursor: pointer;
}